.board {
    background-color: $font-color-dark;
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    &__list-item {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
        flex-wrap: wrap;

        h1 {
            margin: 0;
            width: 100%;
            border-bottom: 5px dashed $font-color-light;
            border-top: 5px dashed $font-color-light;
            padding: .6rem 0;
            background-color: rgba($font-color-secondary, 0.5);
            text-align: center;
            font-size: 3rem;
            color: $font-color-light;

        }

        .interface {
            display: flex;
            justify-content: space-around;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 2rem;
        background-color: rgba($font-color-secondary, 0.3);

        &--small {
            min-width: 250px;
        }

        h2 {
            @include flex-centered();
            margin-bottom: 1rem;
            padding: .5rem;
            text-align: center;
            font-size: 3rem;
            text-transform: uppercase;
            color: $font-color-dark;
            letter-spacing: 5px;
            background-color: $font-color-light;

            img {
                margin-left: 20px;
            }
        }

        .buttons {
            margin-top: 1rem;
        }
    }
}