.button {
    .icon {
        width: 25px;
    }
}

.info-panel {
    .icon {
        width: 30px;
    }
}

.icon {
    width: 40px;

    &--small {
        width: 30px;
    }
}

.sell-panel__item {
    .icon {
        margin-right: 10px;
        width: 35px;
    }
}