.panel {
    padding: 1rem;
    background-color: $font-color-light;
    font-size: 2.5rem;
    color: $font-color-dark;

    &__stats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 0 20px;

    }

    &__item {
        @include flex-centered();
        margin-bottom: .5rem;

        span {
            color: $red;
        }
    }
}
