.resources {
    display: flex;

    &__item {
        padding: 0 2rem;
        border-right: 5px solid $font-color-dark;

        &:first-child {
            border-left: 5px solid $font-color-dark;
        }
    }

    &__amount {
        font-size: 5rem;
        margin-right: 1rem;
    }
}